<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Barang</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h2>Edit Barang</h2>

    <form th:action="@{'/barang/edit/' + ${barang.id}}" th:object="${barang}" method="post">
        <label>Nama Barang:</label>
        <input type="text" th:field="*{nama}" required /><br>

        <label>Kategori:</label>
        <input type="text" th:field="*{kategori}" required /><br>

        <label>Ukuran:</label>
        <input type="text" th:field="*{ukuran}" /><br>

        <label>Ketebalan:</label>
        <input type="text" th:field="*{ketebalan}" /><br>

        <label>Bentuk:</label>
        <input type="text" th:field="*{bentuk}" /><br>

        <label>Bahan:</label>
        <input type="text" th:field="*{bahan}" /><br>

        <label>Merek:</label>
        <input type="text" th:field="*{merek}" /><br>

        <label>Harga:</label>
        <input type="number" th:field="*{harga}" required /><br>

        <label>Jumlah:</label>
        <input type="number" th:field="*{jumlah}" required /><br>

        <button type="submit">Update</button>
    </form>

    <a href="/barang">Kembali</a>
</body>
</html>
