
<!DOCTYPE html>
<html lang="id" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/beranda.css">
    </head>
<body>
      <div th:replace="components/navbar :: navbar"></div>

    <button id="addItemButton">Tambah Jenis Barang</button>

    <main>
        <div class="grid-container" id="card">
            <div class="item">
                <!-- <p>Gumpalan Pink</p>
                <p>Merek: Oogway</p>
                <p>Ukuran: 1km</p>
                <p>Keterampilan: 100m</p>
                <p>Bahan 🌊</p> -->
            </div>
        </div>

        <!-- Replikasi grid-item jika diperlukan
        <div class="grid-container">
            <div class="item">
                <p>Gumpalan Pink</p>
                <p>Merek: Oogway</p>
                <p>Ukuran: 1km</p>
                <p>Keterampilan: 100m</p>
                <p>Bahan 🌊</p>
            </div>
        </div> -->

        <!-- Anda bisa terus menambah grid-container sesuai kebutuhan -->
    </main>

     <script th:src="@{/scripts/beranda.js}" type="module"></script>

    </script>
</body>
</html>
