
<!DOCTYPE html>
<html lang="id" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/beranda.css">
    </head>
<body>
      <div th:replace="components/navbar :: navbar"></div>

    <button id="addItemButton">Tambah Jenis Barang</button>

    <main>
        <h1>Daftar Gudang</h1>
        <div class="grid-container" id="card">
            <div class="item">
                <p>${Barang.namaBarang}</p>
                <p>Merek: ${Kategori.merek}</p>
                <p>Ukuran: ${Kategori.ukuran}</p>
                <p>Ketebalan: ${Kategori.ketebalan}</p>
                <p>Bahan: ${Kategori.bahan}</p>
            </div>
        </div>
    </main>

     <script th:src="@{/scripts/beranda.js}" type="module"></script>

    </script>
</body>
</html>
