<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List Barang</title>
</head>
<body>
    <h1>Daftar Barang</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nama Barang</th>
                <th>Stok</th>
                <th>Nama Supplier</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="barang : ${listBarang}">
                <td th:text="${barang.idBarang}">ID</td>
                <td th:text="${barang.namaBarang}">Nama Barang</td>
                <td th:text="${barang.stok}">Stok</td>
                <td th:text="${barang.namaSupplier}">Supplier</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
